# Dependencies
node_modules/
*/node_modules/

# Build outputs
dist/
frontend/dist/
backend/dist/

# Vite
frontend/.vite/

# Logs & temp
*.log
npm-debug.log*
.env
.env.local

# macOS
.DS_Store

# Editor junk
.vscode/
.idea/

# pnpm
.pnpm-store/
.pnpm-debug.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal
